
$--blue-color: #4DA1FF;
$--color-hover-white:#f0f0f0;
$--color-white: #fff;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

body .el-table th.gutter {
  display: table-cell !important;
}

div,
form,
img,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.raiyi-container{
  max-width: 1400px;
  margin:0 auto;
  margin-top:65px;
}
.top-tabs{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 9;
  background: rgba(255,255,255,.8);
}
.raiyi-banner{
  max-width: 1400px;
  margin:0 auto;
  height:60px;
}

.raiyi-banner.el-menu.el-menu--horizontal{
  border-bottom:none;
}


.waterfall-container{
  position: absolute;
  top:60px;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
}
.vue-waterfall-easy-container{
  width:1400px;
  margin:0 auto;
}

.vue-waterfall-easy-scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.vue-waterfall-easy-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #bbb;
}
.vue-waterfall-easy-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
.vue-waterfall-easy-scroll{
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
}
.img-info{
  position: absolute;
  top:8px;
  left:9px;
  color:#fff;
  font-size:12px;
  background-color:rgba(50,50,50,.38);
}
.banner-box{
  width: 1000px;
  margin:0 auto;
}
.banner-box .wh_slide{
  width:100%;
  // height: 500px;
}
.banner-box .wh_slide img{
  width: 100%;
  height:100%;
}
.banners{
  width:1000px;
  margin:0 auto;
  padding:4px 0;
}

@media screen and (max-width: 768px){
  .banner-box{
    width:100%;
  }
  .banner-box .wh_slide{
    height:auto;
  }
  .banners{
    width:100%;
  }
}