body,
    div,
    iframe,
    ul,
    ol,
    dl,
    dt,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre,
    table,
    th,
    td,
    form,
    input,
    button,
    select,
    textarea {
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-style: normal;
      font-size: 100%;
      font-family: inherit
    }

    ol,
    ul {
      list-style: none
    }

    img {
      border: 0
    }

    a {
      -webkit-transition: all .2s;
      transition: all .2s;
      cursor: pointer
    }

    a:link,
    a:visited {
      color: #333;
      text-decoration: none
    }

    a:hover {
      color: #63b504;
      text-decoration: none
    }

    body {
      font-size: 14px;
      color: #333;
      font-family: 微软雅黑, microsoft yahei, Tahoma, Verdana;
      background: #f2f2f2
    }

    div,
    form,
    img,
    ul,
    ol,
    li,
    dl,
    dt,
    dd {
      margin: 0;
      padding: 0;
      border: 0
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: 400
    }

    table,
    td,
    tr,
    th {
      font-size: 14px
    }

    li {
      list-style-type: none
    }

    img {
      vertical-align: top
    }

    .cr {
      clear: both;
      height: 0;
      overflow: hidden
    }

    .fl {
      float: left
    }

    .fr {
      float: right
    }

    .mt10 {
      margin-top: 10px
    }

    .mt8 {
      margin-top: 8px
    }

    .hidden,
    .ins {
      display: none
    }

    .clearfix:after {
      content: '.';
      clear: both;
      display: block;
      height: 0;
      visibility: hidden;
      font-size: 0;
      line-height: 0
    }

    .header .head,
    .link,
    .foot,
    #main,
    .lod,
    .w,
    .menu,
    .wrap {
      width: 1200px;
      margin: 0 auto
    }

    .bold {
      font-weight: 700
    }

    [v-cloak] {
      display: none;
  }

    .tran {
      -webkit-transition: all .2s;
      transition: all .2s
    }

    .header {
      clear: both;
      background: #1b1b1b;
      height: 54px;
      min-width: 1200px;
      margin-bottom: 10px
    }

    .head {
      height: 54px
    }

    a.logo,
    a.logo:visited {
      float: left;
      /* width: 80px; */
      padding-right: 10px;
      display: block;
      line-height: 36px;
      height: 36px;
      font-size:18px;
      color:#fff;
      overflow: hidden;
      /* background: url('http://pic.netbian.com/static/img/logo.jpg') no-repeat; */
      margin-top: 10px
    }

    .nav {
      position: relative;
      float: left;
      /* padding-left: 30px; */
      z-index: 99
    }

    .nav li {
      float: left;
      padding: 0 16px;
      position: relative;
      height: 54px;
      overflow: hidden
    }

    .nav li .nav-link {
      height: 28px;
      display: block;
      line-height: 28px;
      font-size: 16px;
      color: #fff;
      margin-top: 14px
    }

    .nav li .nav-m {
      border: 2px #eeeff2 solid;
      background: #fff;
      width: 288px;
      position: absolute;
      left: 0;
      top: 100px;
      padding: 9px 0 9px 18px;
      box-shadow: 0 0 2px rgba(0, 0, 0, .2);
      opacity: 0;
      filter: alpha(opacity=0)
    }

    .nav li .more {
      width: 120px;
      padding: 9px 0 17px 18px
    }

    .nav li:hover {
      overflow: visible
    }

    .nav li:hover .nav-m {
      opacity: 1;
      filter: alpha(opacity=100);
      top: 54px
    }

    .nav li .nav-m a {
      float: left;
      white-space: nowrap;
      width: 132px;
      line-height: 30px
    }

    .nav li .more a {
      width: 100px;
      color: #333
    }

    .nav li .nav-m a:hover {
      color: #63b504
    }

    .nav li.on,
    .nav li:hover {
      background: #333
    }

    .loginbar {
      float: right
    }

    .loginbar a.register {
      width: 72px;
      height: 34px;
      line-height: 34px;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      float: left;
      background: #63b504;
      margin-top: 10px
    }

    .loginbar a.register:hover {
      background: #5aa700
    }

    .loginbar a.in,
    .govip {
      width: 70px;
      height: 32px;
      line-height: 32px;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      float: left;
      margin-left: 10px;
      border: 1px solid #fff;
      margin-top: 10px
    }

    .loginbar a.in:hover {
      background: #fff;
      color: #000
    }

    .user {
      float: left;
      position: relative;
      height: 54px;
      padding-top: 8px;
      z-index: 99
    }

    .user a {
      float: left
    }

    .user .user-name {
      position: relative;
      display: block;
      float: left;
      padding: 10px 5px
    }

    .user .user-name a {
      display: inline-block;
      margin-left: 5px;
      color: #fff
    }

    .user .user-name a.user_vip {
      position: absolute;
      left: -40px;
      top: -6px;
      width: 50px;
      height: 50px
    }

    .user .user-name a.user_txt {
      display: inline-block;
      margin-left: 15px;
      color: #fff
    }

    /* .user_vip0 {
      background: url(../img/vip3.png)
    }

    .user_vip1 {
      background: url(../img/vip0.png)
    }

    .user .user-name .user_vip2 {
      background: url(../img/vip1.png)
    } */

    .user .user-manu a {
      width: 60%;
      position: absolute
    }

    .user-manu {
      opacity: 0;
      position: absolute;
      background-color: #fff;
      top: 54px;
      right: 0;
      box-shadow: 0 0 4px #333;
      min-width: 150px;
      box-shadow: 0 3px 7px #b0b0b0;
      display: none;
      left: -58px;
      border: #eeeff2 1px solid
    }

    .user-manu li {
      cursor: pointer;
      padding: 5px 20px;
      color: #666;
      width: 118px;
      height: 35px;
      line-height: 40px
    }

    .user-manu .logout {
      border-top: 1px solid #eeeff2
    }

    .user-manu li:hover {
      color: #444
    }

    .user .user-manu li a {
      text-decoration: none;
      color: #666
    }

    .user:hover .user-manu {
      opacity: 1;
      filter: alpha(opacity=100);
      display: block
    }

    .user .face {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      overflow: hidden;
      float: left;
      display: block;
      margin-top: 5px
    }

    .user .face img {
      height: 35px;
      width: 35px
    }

    a.govip {
      border: 1px solid #63b504;
      background: #63b504;
      color: #fff;
      line-height: 26px;
      height: 26px;
      margin-top: 18px
    }

    a.govip:hover {
      background: 0 0;
      color: #fff
    }

    .search {
      float: left;
      padding: 10px 0 0 20px
    }

    .search form {
      width: 270px;
      height: 34px;
      line-height: 34px;
      border: 1px #1d2021 solid;
      border-radius: 2px;
      background: #333;
      position: relative
    }

    .search p {
      padding: 0 36px 0 8px
    }

    .search p input {
      background: 0 0;
      border: 0;
      color: #999;
      height: 34px;
      width: 100%;
      box-sizing: border-box;
      outline: none
    }

    /* .search .sub {
      width: 17px;
      height: 17px;
      background: url(../img/m.png);
      cursor: pointer;
      position: absolute;
      right: 12px;
      top: 8px;
      border: 0;
      outline: none
    } */

    .nav li .color {
      width: 200px
    }

    .nav li .color a {
      position: relative;
      text-indent: 20px;
      width: 100px
    }

    .color a:after,
    .loaction span:after,
    .downpic:after {
      content: "\0020";
      display: block;
      clear: both;
      height: 0;
      overflow: hidden;
      width: 22px;
      height: 22px;
      position: absolute;
      left: -6px;
      top: 5px
    }

    .color1:after {
      background: #f15246
    }

    .color2:after {
      background: #ffa626
    }

    .color3:after {
      background: #ede73d
    }

    .color4:after {
      background: #2cbf51
    }

    .color5:after {
      background: #3ac2ce
    }

    .color6:after {
      background: #3574e6
    }

    .color7:after {
      background: #803cd9
    }

    .color8:after {
      background: #cc62c6
    }

    .color9:after {
      background: #7b4611
    }

    .color10:after {
      background: #000
    }

    .color11:after {
      background: #fff;
      border: 1px solid #ddd;
      width: 10px;
      height: 10px
    }

    .color12:after {
      background: #afafaf
    }

    #footer {
      margin-top: 10px;
      padding: 16px 0;
      color: #888;
      background: #1b1b1b
    }

    #footer p {
      line-height: 24px
    }

    #footer .sitename {
      color: #63b504
    }

    #footer a {
      color: #888
    }

    #footer a:hover {
      color: #fff
    }

    .link {
      padding: 5px 0
    }

    .link .title {
      height: 24px;
      line-height: 24px;
      border-bottom: 1px solid #ddd
    }

    .link p {
      padding: 10px 0;
      line-height: 24px
    }

    .link a {
      margin-right: 14px;
      color: #333
    }

    .link a:hover {
      color: #63b504
    }

    #gotop {
      position: fixed;
      right: 20px;
      bottom: 100px;
      display: none;
      z-index: 98
    }

    *html #gotop {
      position: absolute;
      _top: expression(documentElement.scrollBottom + 160 + "px")
    }

    /* #gotop a {
      width: 40px;
      height: 40px;
      display: block;
      overflow: hidden;
      text-indent: -999px;
      background: url(../img/gotop.png) 0 center no-repeat
    } */

    #gotop a:hover {
      background-position: -40px 0
    }

    .gotop {
      position: fixed;
      right: 0;
      width: 52px;
      top: 50%;
      z-index: 999;
      height: 154px;
      margin-top: -77px
    }

    .gotop div.bd {
      border: 1px solid #e8e8e8;
      background: #fff;
      border-radius: 3px
    }

    .gotop a.btn-btn,
    .gotop div.btn-qq {
      width: 50px;
      height: 44px;
      display: block;
      cursor: pointer;
      text-align: center;
      position: relative;
      line-height: 20px;
      padding-top: 6px;
      color: #747474
    }

    .gotop a.btn-btn:hover,
    .gotop div.btn-qq:hover {
      color: #fff;
      background: #10c55b;
      text-decoration: none
    }

    /* .gotop i {
      display: block;
      width: 100%;
      height: 22px;
      background: url(../img/newgotop.png) no-repeat center 0;
      overflow: hidden
    } */

    .gotop .btn-qq i {
      background-position: center 0;
      border: 1px solid #f0
    }

    .gotop .kf-trop {
      display: none;
      height: 90px;
      position: absolute;
      top: 0;
      right: 50px;
      width: 150px;
      text-align: center;
      background: #fff;
      padding: 5px;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      color: #737373;
      line-height: 28px
    }

    .gotop .kf-trop b {
      font-size: 20px;
      color: #10c55b
    }

    .gotop .kf-qq {
      width: 200px;
      text-align: left;
      line-height: 24px;
      height: 140px;
      padding: 10px 5px
    }

    .gotop .kf-qq p {
      padding-left: 45px
    }

    /* .gotop .kf-qq .kf-name {
      background: url(../img/newgotop.png) no-repeat 12px -294px;
      font-size: 14px
    } */

    .gotop .kf-qq .kf-faq {
      border-top: 1px solid #e8e8e8;
      line-height: 36px;
      background-position: 12px -346px
    }

    .gotop .kf-qq .kf-img {
      padding-bottom: 10px
    }

    .gotop a.btn-phone i {
      background-position: center -50px
    }

    .gotop a.btn-top {
      display: none;
      margin-top: 2px;
      line-height: 18px;
      border: 1px solid #e8e8e8
    }

    .gotop a.btn-top i {
      background-position: center -96px
    }

    .gotop .btn-qq:hover i {
      background-position: center -150px
    }

    .gotop a.btn-phone:hover i {
      background-position: center -201px
    }

    .gotop a.btn-top:hover i {
      background-position: center -246px
    }

    .slide {
      position: relative;
      width: 1200px;
      height: 340px;
      overflow: hidden
    }

    .slide .pic {
      position: relative;
      z-index: 0
    }

    .slide .pic img {
      width: 1200px;
      height: 340px;
      display: block
    }

    .slide .hd {
      width: 100%;
      position: absolute;
      bottom: 20px;
      text-align: center;
      z-index: 1;
      height: 14px;
      font-size: 0
    }

    .slide .hd li {
      width: 14px;
      line-height: 42px;
      height: 14px;
      font-size: 1px;
      background: #333;
      border-radius: 50%;
      transition: all .2s;
      margin: 2px 1px;
      display: inline-block;
      *display: inline;
      zoom: 1;
      overflow: hidden;
      cursor: pointer
    }

    .slide .hd li:hover,
    .slide .hd .on {
      background: #63b504
    }

    /* .slide .prev,
    .slide .next {
      width: 50px;
      height: 140px;
      display: block;
      background: url(../img/foucsbtn.png) no-repeat 0 0;
      position: absolute;
      top: 100px;
      z-index: 10;
      cursor: pointer;
      -webkit-transition: all 0s;
      transition: all 0s
    } */

    .slide .prev {
      left: 0
    }

    .slide .next {
      background-position: -51px 0;
      right: 0
    }

    .slide .prev:hover {
      background-position: -153px 0
    }

    .slide .next:hover {
      background-position: -102px 0
    }

    .classify {
      max-width: 1200px;
      margin-top: 10px;
      background: #fff;
      padding: 10px 0
    }

    .classify a {
      float: left;
      height: 30px;
      line-height: 30px;
      width: 8%;
      min-width: 90px;
      text-indent: 20px
    }

    .classify a.curr,
    .classify a:hover {
      color: #63b504
    }

    .banner {
      width: 1200px;
      padding-top: 7px;
      margin: 0 auto 0
    }

    .list {
      margin-top: 10px;
      padding-bottom: 10px
    }

    .list ul {
      overflow: hidden
    }

    .list li {
      width: 1200px;
      height: auto;
      margin: 0 0 20px 0;
      position: relative;
      overflow: hidden
    }

    /* .list li a img,
    .list li a:visited img {
      width: 100%;
      height: auto;
      background: url(../img/load.gif) no-repeat 50% 50%
    } */

    .list li b {
      display: block;
      height: 60px;
      position: absolute;
      right: 10px;
      left: 0;
      bottom: -60px;
      height: 54px;
      line-height: 54px;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      font-weight: 400;
      color: #fff;
      width: 100%;
      text-indent: 10px;
      color: #edf0f2;
      font-size: 18px
    }
/* 
    .list li:hover b {
      bottom: 0;
      background: url(../img/list_t2.png) 0 bottom
    } */

    .slist {
      margin-top: 10px;
      padding-bottom: 10px
    }

    .slist ul {
      margin-right: -15px;
      width: 1215px;
      overflow: hidden
    }

    .slist li {
      float: left;
      width: 390px;
      height: 250px;
      margin: 0 15px 10px 0;
      position: relative;
      overflow: hidden
    }

    /* .slist li span {
      display: block;
      width: 100%;
      height: 250px;
      overflow: hidden;
      background: url(../img/load.gif) no-repeat 50% 50%
    } */

    .slist li img {
      width: 100%
    }

    .slist li b {
      display: block;
      height: 40px;
      position: absolute;
      right: 10px;
      left: 0;
      bottom: -40px;
      height: 34px;
      line-height: 34px;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in;
      font-weight: 400;
      color: #fff;
      width: 100%;
      text-indent: 10px;
      color: #edf0f2;
      font-size: 14px
    }

    /* .slist li:hover b {
      bottom: 0;
      background: url(../img/list_t.png)
    } */

    .page {
      height: 38px;
      text-align: center;
      padding: 10px 0 20px
    }

    .page a,
    .page a:visited,
    .page b,
    .page>input {
      background: #fff;
      padding: 0 16px;
      border: 1px solid #ddd;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      margin: 0 4px 0 5px;
      font-size: 14px;
      border-radius: 3px
    }

    .page>input {
      width: 40px;
      padding: 0 5px;
      text-align: center;
      margin: 0
    }

    .page a:hover,
    .page b {
      background: #63b504;
      border: 1px solid #63b504;
      color: #fff;
      text-decoration: none
    }

    .page span {
      padding: 0 10px
    }

    .photo {}

    .photo .view {
      float: left;
      width: 850px;
      border: 1px solid #ededed
    }

    .photo .photo-hd {
      border-bottom: 1px solid #ededed;
      height: 64px;
      line-height: 64px;
      text-align: center;
      background: #fff
    }

    .photo .photo-hd h1 {
      font-size: 18px
    }

    .photo .photo-pic {
      width: 850px;
      height: 100%
    }

    .photo .photo-pic img {
      width: 100%
    }

    .photo .side {
      float: right;
      width: 320px
    }

    .downpic {
      height: 60px;
      background: #63b504;
      border-radius: 4px;
      position: relative
    }

    .downpic a {
      display: block;
      line-height: 60px;
      text-align: center;
      text-indent: 30px;
      font-size: 20px;
      color: #fff
    }

    .downpic:hover {
      background: #5aa700
    }
    .good_box{
      /* border:1px dashed #999; */
      border-radius:3px;
      padding:0;
      margin:5px 0;
    }

    .infor {
      border: #ededed 1px solid;
      background-color: #fafafa !important;
      padding: 15px 0 10px;
      /* margin: 0; */
      padding: 10px 15px
    }

    .infor p {
      line-height: 28px;
      color: #333
    }

    .infor p span {
      /* padding-left: 20px */
    }

    .infor p a {
      color: #0099e5
    }
    .price-symbol{
      font-family: arial;
    font-style: normal;
    font-size: 18px;
    position: relative;
    top: 2px;
    }
    .price{
      font-size: 24px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    }



  .coupon-btn {
      height: 40px;
      background-repeat: no-repeat;
      background-size: 288px 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .get-coupon-btn {
    cursor: pointer;
    position: relative;
  }
  .get-coupon-btn .btn-name {
    position: absolute;
    right: 18px;
    top: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    height: 20px;
  }

  .get-coupon-btn .coupon-amount {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    height:40px;
    line-height:40px;
    width: 180px;
    text-align: center;
  }

  .photo-txt {
    padding: 10px 0 2px;
    clear: both
  }
  .good_img{
    width:318px;
    height:318px;
  }
  .mobile_tkl{
    display: none;
  }

  .maincate{
    display:none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-overflow-scrolling: touch;
    text-align: justify;
    background: #333;
    padding: 0px 5px;
    box-sizing: border-box;
}
.maincate a{ color: #fff; text-decoration: none; margin-right: 10px;}
.maincate::-webkit-scrollbar{display: none;}






  @media screen and (max-width: 768px){
    .maincate{
      display: block;
    }
    .header{
      min-width: 0;
      width:100%;
      display: none;
    }
    /* .good_box{
      display: none;
    } */
    .header .head,
    .link,
    .foot,
    #main,
    .lod,
    .w,
    .menu,
    .wrap {
      width: 100%;
      margin: 0 auto
    }

    .photo .view{
      width:100%;
      box-sizing: border-box;
    }
    .photo .photo-pic{
      width: 100%;
    }
    .photo .side{
      width:100%;
    }
    .downpic{
      width: 100%;
      margin:15px auto;
    }
    .good_img{
      width:100%;
      height: auto;
    }
    .coupon-btn.get-coupon-btn{
      display:none;
    }
    .get-coupon-btn .coupon-amount{
      width: 100%;
      text-align: left;
      padding-left:3rem;
    }
    .get-coupon-btn .btn-name{
      right: 5rem;
    }
    .mobile_tkl{
      display: block;
      width: 100%;
      clear: both;
      word-break: break-all;
    }
  }



    /* .downpic:after {
      position: absolute;
      width: 22px;
      height: 22px;
      left: 20px;
      top: 19px;
      background: url(../img/m.png) no-repeat -40px 0
    }

    

    .collection .hover {
      background-color: #fff;
      color: #269edc
    }

    .collection .shoucang .hover_xing {
      background: url(../img/../../images/hover.png) no-repeat -107px -19px
    }

    .quitColl {
      width: 290px;
      margin: 14px
    }

    .collection {}

    .collection i {
      margin-right: 11px;
      line-height: 36px;
      font-style: normal
    }

    .way {
      display: inline-block;
      width: 145px;
      height: 28px;
      border: #ededed 1px solid;
      margin-top: 2px;
      margin-right: 28px;
      background-color: #fafafa
    }

    .way span {
      display: inline-block;
      width: 25px;
      height: 30px;
      line-height: 30px;
      background: url(../img/li_bg.png) no-repeat 0 center;
      margin: none
    }

    .way .QQ {
      background: 0 0
    }

    .way a {
      display: inline-block;
      width: 25px;
      height: 22px;
      line-height: 22px;
      margin-right: 0;
      transition: none;
      padding: 3px 0
    }

    .way a:last-child {}

    .way .bds_sqq {
      background: url(../img/fx.png) no-repeat -3px 3px
    }

    .way .bds_weixin {
      background: url(../img/fx.png) no-repeat -26px 4px
    }

    .way .bds_qzone {
      background: url(../img/fx.png) no-repeat -51px 2px
    }

    .way .bds_tsina {
      background: url(../img/fx.png) no-repeat -75px 2px
    }

    .way .bds_huaban {
      background: url(../img/fx.png) no-repeat -129px 2px
    }

    .way .bds_sqq:hover {
      background: url(../img/fx.png) no-repeat -3px -21px
    }

    .way .bds_weixin:hover {
      background: url(../img/fx.png) no-repeat -27px -21px
    }

    .way .bds_qzone:hover {
      background: url(../img/fx.png) no-repeat -51px -21px
    }

    .way .bds_tsina:hover {
      background: url(../img/fx.png) no-repeat -74px -21px
    }

    .way .bds_huaban:hover {
      background: url(../img/fx.png) no-repeat -129px -21px
    }

    .photo-tags {
      padding: 10px 0 4px;
      clear: both
    }

    .photo-tags a {
      display: inline-block;
      height: 24px;
      background: #fff;
      border-radius: 2px;
      margin-right: 6px;
      padding: 4px 10px 0;
      color: #333;
      margin-bottom: 10px
    }

    .photo-tags a:hover {
      background: #eee;
      color: #000
    }

    .morelike {
      display: block;
      height: 30px;
      line-height: 30x
    }

    .photo-txt {
      padding: 10px 0 2px;
      clear: both
    }

    .photopx {
      padding: 10px 0 2px;
      clear: both;
      width: 1200px;
      margin: 0 auto
    }

    .photops {
      padding: 10px 0 2px;
      clear: both
    }

    .loaction {
      height: 30px
    }

    .loaction span:after {
      width: 12px;
      height: 16px;
      background: url(../img/m.png) no-repeat -23px 0;
      top: 2px
    }

    .loaction span {
      text-indent: 20px;
      position: relative;
      display: block
    }

    #login_opacity_bg {
      width: 100%;
      position: absolute;
      background: #000;
      opacity: .5;
      filter: alpha(opacity=50);
      top: 0;
      left: 0;
      display: none;
      z-index: 100
    }

    .tbox {
      width: 580px;
      height: 350px;
      margin: 0 auto;
      border-radius: 5px;
      background-color: #fff;
      overflow: hidden;
      zoom: 1;
      display: none;
      z-index: 101;
      top: 50%;
      left: 50%;
      position: fixed;
      margin: -250px 0 0 -295px
    }

    .tbox a {
      -webkit-transition: all 0s;
      transition: all 0s
    }

    .tbox .close {
      font-family: 宋体;
      position: absolute;
      right: 18px;
      top: 16px;
      font-size: 20px;
      line-height: 20px;
      -webkit-transition: all .2s;
      transition: all .2s;
      cursor: pointer
    }

    .tbox .close:hover {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg)
    }

    #logo {
      display: block;
      width: 140px;
      height: 50px;
      margin: 0 auto;
      background: url(../img/blacklogo.jpg) no-repeat 0 0;
      overflow: hidden;
      zoom: 1;
      margin-top: 40px
    }

    #tips {
      width: 270px;
      height: 30px;
      margin: 0 auto;
      overflow: hidden;
      zoom: 1;
      margin-top: 12px
    }

    .hline {
      width: 50px;
      height: 15px;
      border-bottom: 1px solid #ededed;
      overflow: hidden;
      zoom: 1
    }

    .tiptext {
      width: 170px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #333;
      font-size: 14px
    }

    #qq_register {
      border-radius: 2px;
      display: block;
      width: 270px;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      overflow: hidden;
      zoom: 1;
      margin-top: 29px;
      font-size: 18px;
      color: #fff;
      background: #00b7d6 url(../img/reglogin.png) no-repeat 47px 0;
      text-decoration: none;
      text-indent: 98px
    }

    #qq_register:hover {
      background: #1f9bd9 url(../img/reglogin.png) no-repeat 47px -51px;
      text-decoration: none
    }

    #weixin_register {
      border-radius: 2px;
      display: block;
      width: 270px;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      overflow: hidden;
      zoom: 1;
      margin-top: 15px;
      font-size: 18px;
      color: #fff;
      background: #63b504 url(../img/reglogin.png) no-repeat 44px -102px;
      text-decoration: none;
      text-indent: 95px
    }

    #weixin_register:hover {
      background: #5aa700 url(../img/reglogin.png) no-repeat 44px -153px;
      text-decoration: none
    }

    .member {
      background: #fff;
      min-height: 600px
    }

    .member-hd {
      height: 60px;
      line-height: 60px;
      padding: 0 30px;
      overflow: hidden
    }

    .member-hd p {
      float: left;
      font-size: 14px
    }

    .member-hd span {
      float: right;
      font-size: 12px;
      display: block;
      height: 25px;
      line-height: 25px;
      padding: 17px 0 0
    }

    .member-hd span img {
      vertical-align: top
    }

    .viprecord {
      width: 100%;
      border-width: 1px;
      border-color: #ededed;
      border-collapse: collapse
    }

    .viprecord td {
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 14px
    }

    .viprecord thead td {
      background-color: #f3fef1;
      color: #198307;
      border-bottom: 1px solid #87dc78
    }

    .viprecord tbody td {
      height: 40px;
      line-height: 40px;
      color: #666
    }

    .viprecord .sh-show-null {
      color: #333;
      font-size: 40px;
      margin-left: 30px;
      font-weight: 700;
      height: 100px
    }

    .sh-show-null a {
      color: #090;
      text-decoration: none
    }

    .sh-show-null a:hover {
      text-decoration: none
    }

    .pay {
      padding-left: 30px
    }

    .pay58_rmb {
      overflow: hidden;
      zoom: 1;
      height: 136px
    }

    .pay58_rmb_num {
      text-decoration: none;
      display: block;
      height: 130px;
      width: 350px;
      border: 2px solid #eee;
      float: left;
      position: relative;
      margin-right: 28px
    }

    #xianliang {
      position: absolute;
      top: 12px;
      right: -12px;
      background-color: #ff8615;
      width: 66px;
      height: 33px;
      line-height: 31px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      z-index: 10
    }

    .pay58_rmb_text {
      text-align: center;
      padding-top: 30px
    }

    .vip_shuxing {
      font-size: 36px;
      color: #2dae08
    }

    .vip_text {
      font-size: 18px;
      color: #666
    }

    .pay58_rmb_jiage {
      text-align: center;
      padding-top: 13px
    }

    .yuanjia {
      font-size: 18px;
      color: #999;
      text-decoration: line-through
    }

    .xianjia {
      font-size: 30px;
      color: #f94433;
      padding-left: 8px
    }

    .danwei {
      font-size: 18px;
      color: #f94433
    }

    .pay_select {
      border: 2px solid #ff5200
    }

    .xianliangnum {
      padding-top: 12px;
      height: 45px;
      padding-bottom: 0
    }

    .shengming {
      color: #ff8615;
      font-size: 16px
    }

    .kthylc {
      color: #2dae08;
      font-size: 16px
    }

    .pay_ways {
      overflow: hidden;
      zoom: 1;
      padding-top: 10px;
      padding-bottom: 20px
    }

    .pay_way_item {
      display: block;
      height: 41px;
      width: 152px;
      float: left;
      margin-right: -1px
    }

    .way_alipay {
      position: relative;
      background: url(../img/pay.png) no-repeat -471px 0
    }

    .way_wxqr {
      background: url(../img/pay.png) no-repeat -151px 0
    }

    .way_netbank {
      background: url(../img/pay.png) no-repeat -302px 0
    }

    .select_gou {
      position: absolute;
      right: 0;
      top: 105px;
      height: 25px;
      width: 25px;
      overflow: hidden;
      background: url(../img/m.png) no-repeat -66px 0
    }

    #post_form {
      padding-top: 10px;
      padding-bottom: 60px
    }

    #submit_pay_button {
      display: block;
      cursor: pointer;
      border: 0;
      height: 50px;
      line-height: 45px;
      width: 250px;
      text-align: center;
      font-size: 22px;
      color: #fff;
      background-color: #ff5200
    }

    #submit_pay_button:hover {
      background-color: #f52a00
    }

    .viptps {
      height: 260px;
      margin-top: -130px
    }

    .vipcon {
      color: #090;
      font-size: 28px;
      line-height: 250px;
      text-align: center
    }

    .vipcon a {
      color: red
    }

    .bangzhu {
      background: #fff;
      min-height: 600px;
      font-size: 14px;
      line-height: 40px;
      padding: 20px
    }

    .search-no {
      background: #fff;
      padding: 100px;
      margin-top: 10px;
      text-align: center
    }

    .search-no h3 {
      font-size: 22px;
      line-height: 60px
    }

    .search-no h3 span {
      color: #0099e5
    }

    .search-no p {
      font-size: 18px
    }

    .search-no .kfqq {
      height: 50px;
      padding-top: 20px
    }

    .search-no .kfqq a {
      display: inline-block;
      padding: 0 50px 0 60px;
      background: #2caeff url(../img/qq.png) no-repeat 30px;
      background-size: auto 74%;
      line-height: 50px;
      height: 50px;
      font-size: 20px;
      border-radius: 50px;
      color: #fff;
      text-indent: 20px
    }

    .search-no .kfqq a:hover {
      opacity: .9;
      -moz-opacity: .9;
      opacity: .9
    }

    .search-title {
      line-height: 40px;
      height: 40px;
      font-size: 18px;
      padding-top: 10px
    } */